In [2]:
import numpy as np
import pandas as pd
from skbio import DistanceMatrix, TreeNode
import sys
sys.path.append("../")

import phyloviz
from phyloviz.ToyModel import ToyModel


from scipy.cluster.hierarchy import ward
import pandas.util.testing as pdt

In [3]:
np.random.seed(0)
x = np.random.rand(10)
dm = DistanceMatrix.from_iterable(x, lambda x, y: np.abs(x-y))
lm = ward(dm.condensed_form())
ids = np.arange(len(x)).astype(np.str)
tree = TreeNode.from_linkage_matrix(lm, ids)

# initialize tree with branch length and named internal nodes
for i, n in enumerate(tree.postorder(include_self=True)):
    n.length = 1
    if not n.is_tip():
        n.name = "y%d" % i

In [5]:
t = ToyModel.from_tree(tree)
t.rescale(500,500)

91.608680314971238

In [6]:
t.update_coordinates(1,0,0,2,1)

[(-0.59847214410395655, -1.6334372886412185),
 (-0.99749498660405445, -0.76155647142658189),
 (1.0504174348855488, 0.34902579063315775),
 (2.8507394969018511, 0.88932809650129752),
 (3.3688089449017027, 0.082482736278627664),
 (0.81247946938427562, -3.4080712447257464),
 (-0.13677590240930079, -3.5433843164696093),
 (-1.6101831260150372, -1.1190611577178871),
 (-1.6176088321192579, 0.76057470265451854),
 (-0.69694851846105044, 1.0284925540912822)]

In [12]:
node, edge = t.coords(500,500)

In [33]:
type(node)
strnode = node.to_string()
node_dict=node.to_dict('split')

In [34]:
print(node_dict)

{'index': ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'y10', 'y14', 'y15', 'y16', 'y17', 'y18', 'y2', 'y6', 'y7'], 'columns': ['Node id', 'x', 'y'], 'data': [['0', 404.09740526755405, 396.97935323960797], ['1', 464.72398147666206, 174.33825633015596], ['2', 487.5, 43.280354738633605], ['3', 446.172242519571, 359.09499961471846], ['4', 32.470414326462546, 456.71964526136634], ['5', 438.46799887298556, 14.97171568904578], ['6', 81.502415453476999, 485.02828431095418], ['7', 54.574837252016948, 34.942130015508312], ['8', 12.499999999999986, 72.826483640397825], ['9', 55.246432849800414, 325.66174366984399], ['y10', 366.83679815963848, 313.29065945723283], ['y14', 419.4214832551163, 104.57852654552511], ['y15', 373.61714309763067, 183.91397090545763], ['y16', 305.53862635274697, 245.21214271234913], ['y17', 214.43178797371553, 254.78785728765081], ['y18', 153.13361616682403, 186.70934054276711], ['y2', 91.835444359932509, 118.63082379788342], ['y6', 100.54893107134623, 395.42147345447484], ['y7', 146.35327122883183, 316.08602909454231]]}

In [24]:
df = pd.DataFrame({'0': [404.097, 396.979, np.nan, np.nan, True],
                            '1': [464.724, 174.338, np.nan, np.nan, True],
                            '2': [487.5, 43.2804, np.nan, np.nan, True],
                            '3': [446.172, 359.095, np.nan, np.nan, True],
                            '4': [32.4704, 456.72, np.nan, np.nan, True],
                            '5': [438.468, 14.9717, np.nan, np.nan, True],
                            '6': [81.5024, 485.028, np.nan, np.nan, True],
                            '7': [54.5748, 34.9421, np.nan, np.nan, True],
                            '8': [12.5, 72.8265, np.nan, np.nan, True],
                            '9': [55.2464, 325.662, np.nan, np.nan, True],
                            'y10': [366.837, 313.291, '0', '3', False],
                            'y14': [419.421, 104.579, '2', '5', False],
                            'y15': [373.617, 183.914, '1', 'y14', False],
                            'y16': [305.539, 245.212, 'y10', 'y15', False],
                            'y17': [214.432, 254.788, 'y7', 'y16', False],
                            'y18': [153.134, 186.709, 'y2', 'y17', False],
                            'y2': [91.8354, 118.631, '7', '8', False],
                            'y6': [100.549, 395.421, '4', '6', False],
                            'y7': [146.353, 316.086, '9', 'y6', False]},
                           index=['x', 'y', 'child0', 'child1', 'is_tip']).T
df

           x        y child0 child1 is_tip
0    404.097  396.979    NaN    NaN   True
1    464.724  174.338    NaN    NaN   True
2      487.5  43.2804    NaN    NaN   True
3    446.172  359.095    NaN    NaN   True
4    32.4704   456.72    NaN    NaN   True
5    438.468  14.9717    NaN    NaN   True
6    81.5024  485.028    NaN    NaN   True
7    54.5748  34.9421    NaN    NaN   True
8       12.5  72.8265    NaN    NaN   True
9    55.2464  325.662    NaN    NaN   True
y10  366.837  313.291      0      3  False
y14  419.421  104.579      2      5  False
y15  373.617  183.914      1    y14  False
y16  305.539  245.212    y10    y15  False
y17  214.432  254.788     y7    y16  False
y18  153.134  186.709     y2    y17  False
y2   91.8354  118.631      7      8  False
y6   100.549  395.421      4      6  False
y7   146.353  316.086      9     y6  False