In [1]:
import numpy as np
import pandas as pd
from skbio import DistanceMatrix, TreeNode

import sys
sys.path.append('../')
import phyloviz
from phyloviz.ToyModel import ToyModel


from scipy.cluster.hierarchy import ward, complete
import pandas.util.testing as pdt

In [2]:
np.random.seed(0)
x = np.random.rand(10)
dm = DistanceMatrix.from_iterable(x, lambda x, y: np.abs(x-y))
lm = complete(dm.condensed_form())
ids = np.arange(len(x)).astype(np.str)
tree = TreeNode.from_linkage_matrix(lm, ids)

# initialize tree with branch length and named internal nodes
for i, n in enumerate(tree.postorder(include_self=True)):
    n.length = 1
    if not n.is_tip():
        n.name = "y%d" % i

In [3]:
t = ToyModel.from_tree(tree)
t.rescale(500,500)

79.223492618646006

In [4]:
t.update_coordinates(1,0,0,2,1)

[(-0.59847214410395655, -1.6334372886412185),
 (-0.99749498660405445, -0.76155647142658189),
 (1.0504174348855488, 0.34902579063315775),
 (2.8507394969018511, 0.88932809650129752),
 (3.3688089449017027, 0.082482736278627664),
 (0.67135946132440838, -2.4180787481253012),
 (-1.9936226804402346, -2.9233732552695497),
 (-2.6203695704157117, -2.1977123674095331),
 (-1.8709927812120046, 0.33556711382648474),
 (-0.95033246755379708, 0.60348496526324824)]

In [5]:
node, edge = t.coords(500,500)

In [6]:
type(node)
strnode = node.to_string()
node_dict=node.to_dict('split')

In [7]:
print (node)

    Node id        x        y
0         0  474.827  283.253
1         1  286.291  321.953
2         2  436.577  103.301
3         3    487.5  235.958
4         4     12.5  418.294
5         5  395.514  76.6334
6         6  53.5637  444.961
7         7  50.6796  55.0393
8         8  12.6283  85.8526
9         9  38.1015   306.14
y11     y11  408.385  240.104
y14     y14  375.009  153.157
y15     y15  331.861    219.6
y16     y16    257.9  247.991
y17     y17  178.785  252.137
y18     y18  128.928  190.569
y2       y2  79.0707  129.001
y6       y6  74.0682  368.437
y7       y7  117.216  301.994

In [11]:
print(edge.to_dict('split'))

{'columns': ['Node id', 'Parent id', 'px', 'py', 'x', 'y'], 'index': ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'y11', 'y14', 'y15', 'y16', 'y17', 'y2', 'y6', 'y7'], 'data': [['0', 'y11', 408.3850804246091, 240.10442497874831, 474.82749197370902, 283.25263154908782], ['1', 'y16', 257.89956082792412, 247.99103687506513, 286.29072143348549, 321.95253890257857], ['2', 'y14', 375.00926942577706, 153.15746472040379, 436.57748676687396, 103.30050536530359], ['3', 'y11', 408.3850804246091, 240.10442497874831, 487.5, 235.95818773564568], ['4', 'y6', 74.068217341096869, 368.43664502236788, 12.499999999999979, 418.29360437746811], ['5', 'y14', 375.00926942577706, 153.15746472040379, 395.51381813502167, 76.633447151232261], ['6', 'y6', 74.068217341096869, 368.43664502236788, 53.563668631852295, 444.9606625915394], ['7', 'y2', 79.070722542332845, 129.00083943597397, 50.679561936771449, 55.039337408460526], ['8', 'y2', 79.070722542332845, 129.00083943597397, 12.628310993232901, 85.85263286563449], ['9', 'y7', 117.21642391143635, 301.99423347326797, 38.10150433604548, 306.1404707163706], ['y11', 'y15', 331.86106285543758, 219.59987626950374, 408.3850804246091, 240.10442497874831], ['y14', 'y15', 331.86106285543758, 219.59987626950374, 375.00926942577706, 153.15746472040379], ['y15', 'y16', 257.89956082792412, 247.99103687506513, 331.86106285543758, 219.59987626950374], ['y16', 'y17', 178.78464125253325, 252.13727411816777, 257.89956082792412, 247.99103687506513], ['y17', 'y18', 128.92768189743305, 190.56905677707087, 178.78464125253325, 252.13727411816777], ['y2', 'y18', 128.92768189743305, 190.56905677707087, 79.070722542332845, 129.00083943597397], ['y6', 'y7', 117.21642391143635, 301.99423347326797, 74.068217341096869, 368.43664502236788], ['y7', 'y17', 178.78464125253325, 252.13727411816777, 117.21642391143635, 301.99423347326797]]}

In [10]:
print(node_dict)

{'columns': ['Node id', 'x', 'y'], 'index': ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'y11', 'y14', 'y15', 'y16', 'y17', 'y18', 'y2', 'y6', 'y7'], 'data': [['0', 474.82749197370902, 283.25263154908782], ['1', 286.29072143348549, 321.95253890257857], ['2', 436.57748676687396, 103.30050536530359], ['3', 487.5, 235.95818773564568], ['4', 12.499999999999979, 418.29360437746811], ['5', 395.51381813502167, 76.633447151232261], ['6', 53.563668631852295, 444.9606625915394], ['7', 50.679561936771449, 55.039337408460526], ['8', 12.628310993232901, 85.85263286563449], ['9', 38.10150433604548, 306.1404707163706], ['y11', 408.3850804246091, 240.10442497874831], ['y14', 375.00926942577706, 153.15746472040379], ['y15', 331.86106285543758, 219.59987626950374], ['y16', 257.89956082792412, 247.99103687506513], ['y17', 178.78464125253325, 252.13727411816777], ['y18', 128.92768189743305, 190.56905677707087], ['y2', 79.070722542332845, 129.00083943597397], ['y6', 74.068217341096869, 368.43664502236788], ['y7', 117.21642391143635, 301.99423347326797]]}

In [14]:
df = pd.DataFrame({'0': [404.097, 396.979, np.nan, np.nan, True],
                            '1': [464.724, 174.338, np.nan, np.nan, True],
                            '2': [487.5, 43.2804, np.nan, np.nan, True],
                            '3': [446.172, 359.095, np.nan, np.nan, True],
                            '4': [32.4704, 456.72, np.nan, np.nan, True],
                            '5': [438.468, 14.9717, np.nan, np.nan, True],
                            '6': [81.5024, 485.028, np.nan, np.nan, True],
                            '7': [54.5748, 34.9421, np.nan, np.nan, True],
                            '8': [12.5, 72.8265, np.nan, np.nan, True],
                            '9': [55.2464, 325.662, np.nan, np.nan, True],
                            'y10': [366.837, 313.291, '0', '3', False],
                            'y14': [419.421, 104.579, '2', '5', False],
                            'y15': [373.617, 183.914, '1', 'y14', False],
                            'y16': [305.539, 245.212, 'y10', 'y15', False],
                            'y17': [214.432, 254.788, 'y7', 'y16', False],
                            'y18': [153.134, 186.709, 'y2', 'y17', False],
                            'y2': [91.8354, 118.631, '7', '8', False],
                            'y6': [100.549, 395.421, '4', '6', False],
                            'y7': [146.353, 316.086, '9', 'y6', False]},
                           index=['x', 'y', 'child0', 'child1', 'is_tip']).T
df

           x        y child0 child1 is_tip
0    404.097  396.979    NaN    NaN   True
1    464.724  174.338    NaN    NaN   True
2      487.5  43.2804    NaN    NaN   True
3    446.172  359.095    NaN    NaN   True
4    32.4704   456.72    NaN    NaN   True
5    438.468  14.9717    NaN    NaN   True
6    81.5024  485.028    NaN    NaN   True
7    54.5748  34.9421    NaN    NaN   True
8       12.5  72.8265    NaN    NaN   True
9    55.2464  325.662    NaN    NaN   True
y10  366.837  313.291      0      3  False
y14  419.421  104.579      2      5  False
y15  373.617  183.914      1    y14  False
y16  305.539  245.212    y10    y15  False
y17  214.432  254.788     y7    y16  False
y18  153.134  186.709     y2    y17  False
y2   91.8354  118.631      7      8  False
y6   100.549  395.421      4      6  False
y7   146.353  316.086      9     y6  False